.page-container {
  display: flex;
  width: $max_width;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #99cccc;
  justify-content: center;
  align-items: center;
  .page-body {
    background: $white;
    min-width: 30%;
    margin: 40px;
    border-radius: 6px;
    .e-comm-style {
      color: $theme-color;
      font-weight: 500;
    }
    .fields-container {
      width: 100%;
      .label {
        font-size: 13px;
        font-weight: 500;
        color: $info-text-color;
        transition: all 0.2s ease;
        pointer-events: none;
        white-space: nowrap;
      }
      .form-control {
        width: 100%;
        height: 40px;
        padding: 10px; /* Space for the label */
        border: 1px solid #999;
        border-radius: 6px;
        outline: none;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.87) !important;
        opacity: 0.8;
        font-size: 12px !important;
        font-weight: 500;
      }
      .button-style {
        font-weight: 500;
        font-size: 14px;
        color: $white;
        border-radius: 6px;
        background: $theme-color;
        border: $theme-color;
        height: 38px;
      }
    }
    .info-text {
      color: $info-text-color;
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
    }
    .theme-link-style {
      font-size: 13px;
      font-weight: 500;
      color: $theme-link-color;
      line-height: 22px;
      cursor: pointer;
    }
  }
}
